*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
#mainblock{
    height: fit-content;
    margin: 0;
    padding-bottom: 20px;
    background: rgb(161,249,108);
    background: linear-gradient(58deg, rgba(161,249,108,1) 4%, rgba(65,209,255,1) 100%);
}
#heading{
    margin: 0;
    text-align: center;
    color: white;
    font-size: 4rem;  
    /* emphasized margin */
    padding: 2% 0%;
    text-shadow: 4px 4px 10px #0009,
                 8px 8px 16px #5657;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.box{
    background: rgb(249,108,137);
    background: linear-gradient(110deg, rgba(249,108,137,1) 21%, rgb(198, 66, 255) 100%);
    width: 70%;
    display: grid;
    grid-template: 2/2;
    margin-left: 15%;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow:hidden;
    box-shadow: 5px 5px 15px #0007,
                -5px -5px 15px #fff6;
}
.box:nth-child(even)
{
    background: rgb(249,108,177);
    background: linear-gradient(149deg, rgba(249,108,177,1) 4%, rgba(65,101,255,1) 100%);
}
.name{
    margin: 0;
    padding: 10px 0px;
    grid-row: 1/2; 
    grid-column: 1/3;
    text-align: center;
    font-size: 2rem;
    color: white;
    box-shadow: 0px 5px 5px #0007;
}
.img{
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template: 2/1;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    overflow:hidden;
    padding-top: 10px;
}
.img img{
    grid-row: 1/2;
    grid-column: 1/2;
    width: 95%;
    margin-left: 2.5%;
}
.img .fas{
    font-size: 2rem;
    padding: 10px;
    width: 100px;
    margin-left: 40%;
    text-align: center;
    transition: .2s;
    cursor: pointer;
}
.fas:hover{
    color: red;
    transform: scale(1.2);
} 
.selected{
    color:rgb(18, 109, 212);
    transform: scale(1.2);
}

.detail{
    margin: 0;
    padding: 10px 20px;
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: justify;
    font-size: 1.7rem;
    color: white;
}

/* responsive css  */
@media screen and (max-width:1000px)
{
    .box{
        grid-template: 2/3;
    }
    .img{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .detail{
        grid-column: 1/3;
        grid-row: 3/4;
        padding: 10px 10px;
    }
}